@pink: #d22856;
@dashed: 1px dashed red;

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2"), format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: italic;
  font-display: swap;

  src: url("../fonts/OpenSans-RegularItalic.woff") format("woff"), url("../fonts/OpenSans-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: italic;
  font-display: swap;

  src: url("../fonts/OpenSans-BoldItalic.woff") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2");
}




body {
  position: relative;
  background-color: #1d2631;

  margin: 0 auto;
  padding: 0;

  width: 320px;

  font-family: "OpenSans", Arial, Helvetica, sans-serif;

  border: 2px solid lightgreen;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;

  margin: 0;
  padding: 0;

  & li {
    margin: 0;
    padding: 0;
  }
}

.button {
  border-radius: 27px;
  border: 3px solid #ffffff;

  background-color: transparent;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  margin: 0;
  padding: 0;

  height: 55px;

  outline: none;

  &:hover {
    background-color: #ffffff;

    color: @pink;
  }

  &:active {
    
    color: rgba(2210, 40, 86, 0.3)
  }
}


.form__slider {
  margin: 0 auto;
  padding: 0;

  order: 4;
}

.form__slider--list {
  margin: 0;
  padding: 0;
  width: 66px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.form__slider--item {
  position: relative;

  width: 12px;
  height: 12px;

  & label {
    position: absolute;
    left: 0;
    top: 0;
    display: block;

    width: 12px;
    height: 12px;
    
    border-radius: 50%;

    border: 3px solid transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.3);
  }

  & input {
    display: none;
  }

  & input:checked + label {
    left: 0;
    top: 0;

    border: 3px solid #000000;
    background-color: transparent;
  }
}





@media (min-width: 660px) {

  body {  
    width: 660px;
  }

}


@media (min-width: 1200px) {
  body {
    width: 1200px;
  }

  .button {
    font-size: 21px;
  }

  
}
