@darkblue: #283645;



.main-nav {
  position: relative;

  margin: 0;
  padding: 0 20px;

  background-color: @darkblue;
}

.main-nav__logo-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 25px;
}

.main-nav__button {
  position: absolute;

  right: 0;
  top: 22px;
}



@media(min-width: 768px) {


}



@media(min-width: 1250px) {
  .main-nav {
    padding: 0 130px;
  }
  
}