@dashed: 1px dashed red;
@darkblue: #283645;
@lightblue: #1d2631;
@pink: #d22856;
@lightgrey: #f2f2f2;


.main-page__offer {
  color: @darkblue;
  background-color: @lightgrey;
}

.offer__wrapper {
  margin: 0;
  padding: 0 ;
}

.offer__title {
  position: relative;
  margin: 0;
  padding: 40px 20px 0;

  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  text-align: center;

  background-color: #ffffff;

  & span {
    display: block;
    margin: 0;
    padding: 30px 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;

    border: none;
    border-left: 320px solid #ffffff;
    border-bottom: 30px solid transparent;
  }
}

.offer__block {
  position: relative;

  margin: 0;
  padding: 0;
  padding-top: 80px;
  width: 100%;

  z-index: 50;
  overflow: hidden;
}

.offer__list {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.offer__item {
  margin-bottom: 35px;

  &:last-child {
    margin: 0;
  }
}

.offer__item--image {
  display: none;
  margin: 0;
  padding: 0;
}

.offer__item--title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  text-align: center;
}

.offer__item--text {
  margin: 0;
  padding: 0 20px;


  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

.offer__iphone-image {
  position: relative;
  margin: 0 auto;
  padding: 0;

  width: 157px;
  height: 277px;

  overflow: hidden;
}



@media(min-width: 660px) {

    
  .offer__title {
    padding: 55px 20px 40px;

    font-size: 40px;
    line-height: 50px;

    & span {
      margin: 0 auto;
      padding: 0;

      width: 380px;
    }

    &::after {
      bottom: -50px;

      border-left: 600px solid #ffffff;
      border-bottom: 50px solid transparent;
    }
  }

  .offer__block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    
    padding: 0 20px;
  }

  .offer__list {
    order: 2;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    width: 310px;
  }

  .offer__item {
    margin-bottom: 40px;
  }

  .offer__item--title {
    font-size: 18px;

    text-align: left;
  }

  .offer__item--text {
    padding: 0;
    text-align: left;
  }

    
  .offer__iphone-image {
    order: 1;

    margin: 0;
    padding: 0;
    margin-right: 44px;

    width: 268px;
    height: 482px;

    overflow: hidden;

    & img {
      width: 268px;
      height: 547px;
    }
  }
}



@media(min-width: 1200px) {


  .offer__title {
    padding: 70px 130px;

    font-size: 50px;
    line-height: 65px;

    & span {
      width: 450px;
    }

    &::after {
      bottom: -90px;

      border-left: 1200px solid #ffffff;
      border-bottom: 90px solid transparent;
    }
  }

  .offer__block {
    padding: 0;
  }

  .offer__list {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 940px;
  }

  .offer__item {
    margin: 0;
    width: 310px;
  }

  .offer__item--title,
  .offer__item--text {
    width: 240px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
  }

  .offer__item--title {

    margin-bottom: 25px;
    font-size: 30px;
  }

  .offer__item--text {
    font-size: 18px;
  }

  .offer__iphone-image {
    display: none;
  }

  .offer__item--image {
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: 60px;

    width: 300px;
    height: 300px;
    overflow: hidden;


    & .iphone__image {
      margin: 0 auto;
      width: 186px;
      height: 382px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 300px;
      height: 17px;
      opacity: 0.3;

      background-image: url(../img/shadow.png);
      background-repeat: no-repeat;
      background-size: 300px 17px;
      background-position: center 100%;
    }

  }
  


}