@dashed: 1px dashed red;
@darkblue: #283645;
@lightblue: #1d2631;
@pink: #d22856;
@lightgrey: #f2f2f2;


.page-inside__filter {
  background-color: #ffffff;
}

.filter__wrapper {
  margin: 0;
  padding: 0;
}

.filter__title {
  margin: 0;
  padding: 40px 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
  color: @darkblue;
}

.filter__image--editor {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 20px;
  
  background-color: @lightgrey;
}

.filter__image--wrapper {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 374px;

  & img {
    width: 280px;
    height: 374px;
  }
}

.filter__form {
  margin: 0;
  padding: 0;
}

.filter__list {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 240px;

  margin: 0 auto;
  padding: 40px 0 70px;
  
  border: @dashed;
}

.filter__item {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;

  border: @dashed; 

  & label {

    display: block;
    width: 50px;
    height: 50px;

    border: @dashed;
  }

  & svg {
    opacity: 0.3;
  }

  & label + input {
    position: absolute;
    left: 0;
    bottom: 25px;

    display: none;
  }

  &:hover svg {
    opacity: 0.6;
  }
}

.crop svg {
  margin: 3px 3px;
  
  width: 44px;
  height: 44px;
}

.color svg {
  margin: 4px 1px 3px;
  
  width: 48px;
  height: 43px;
}

.contr svg {
  margin: 9px 9px;
  
  width: 32px;
  height: 32px;
}


.current-filter {
  & svg,
  &:hover svg {
    fill: @pink;
    opacity: 1;
  }
}

.current-filter label + input {
  display: inline-block;
  margin-top: 20px;

  width: 240px;
}

/*




*/







@media(min-width: 660px) {
  .filter__title {
    padding-top: 45px;
    padding-bottom: 65px;

    font-size: 18px;
  }

  .filter__image--editor {
    flex-direction: row;
    justify-content: space-between;

    padding: 50px 20px;
  }

  .filter__image--wrapper {
    margin-right: 45px;

    width: 300px;
    height: 400px;
  
    & img {
      width: 300px;
      height: 400px;
    }
  }

  .filter__list {
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
    margin-bottom: 65px;

    width: 275px;
  }

  .filter__item {
    width: 24px;
    height: 24px;

    & svg {
      fill: @pink;
      opacity: 1;
    }
  }

}



@media(min-width: 1200px) {
  .page-inside__filter {
    padding: 0 130px;
  }

  .filter__title {
    padding-top: 5px;
    padding-bottom: 60px;
  }

  .filter__image--editor {
    margin: 0 130px;
    padding: 55px 80px;
  }


}