@dashed: 1px dashed red;
@darkblue: #283645;
@lightblue: #1d2631;
@pink: #d22856;
@lightgrey: #f2f2f2;


.main-page__price {
  margin: 0;
  padding: 90px 0 45px;
  
  background-color: @lightgrey;
}

.price__wrapper {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.price__table {
  position: relative;
  left: -260px;

  width: 840px;
  margin: 0;
  padding: 0;

  border-collapse: collapse;
}

.price__table tr td:first-child {
  display: none;
}

.price__thead td {
  background-color: @darkblue;

  width: 280px;

}

.table__check {
  width: 66px;
}


@media(min-width: 660px) {

  .table__check {
    display: none;
  }

}



@media(min-width: 1200px) {


}



